/* Định dạng chung */
.root {
    -fx-font-family: "Segoe UI";
    -fx-padding: 20;
    -fx-background-color: white;
}

/* Định dạng cho Label */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Định dạng cho TextField và PasswordField */
.text-field, .password-field {
    -fx-pref-width: 250px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-padding: 5;
}

/* Định dạng cho Button */
.button {
    -fx-background-color: #6a1b9a;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5px 20px;
}

.button-cancel {
    -fx-background-color: #9C27B0;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-pref-width: 80px;
    -fx-padding: 5 15;
}

.button:hover {
    -fx-background-color: #7B1FA2;
}

.button-cancel:hover {
    -fx-background-color: #7B1FA2;
}

