*{
	-fx-primary-color: rgb(240, 249, 255);
}
#paneForgotPass{
	-fx-background-color: -fx-primary-color;
}
#btnReset{
	-fx-background-color: rgb(239, 68, 68);
	-fx-text-fill: #FFFFFF;
}


#lbEmail,#lbUsername,#lbSecrect{
	-fx-background-color: -fx-primary-color;
}


#lbContentForgotPass{
	-fx-text-fill: #565656;
}

#lbTitleForgotPass{
	-fx-text-fill: #565656;
}




#txtEmail, #txtUsername, #txtSecrect{
	-fx-background-color: transparent;
	-fx-border-color: rgb(71, 85, 105);
	-fx-border-radius: 5px;
}


